/node_modules
/public/hot
/public/storage
/public/avatars
/public/data
/public/facilities
/public/icons
/public/misc
/public/payments
/public/posts
/public/products
/public/promotions
/public/rooms
/public/vouchers
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
firebase.json
*.sql
capsuleinn.id.crt
capsuleinn.id.ca-bundle
s3.txt
